/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.post-it {
    display: inline-block;
    background-color: lightgray;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    font-family:
        'Lucida Sans', 'Lucida Sans Regular', 
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    height: 200px;
}

.yellow {
    background-color: rgb(248, 248, 92);
}

.blue {
    background-color: rgb(116, 217, 251);
    margin: 50px;
}

.green {
    background-color: lightgreen;
}

.image {
    width: 175px;
    height: 175px:

}