@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.content-container {
    width: 700px;
    margin: 0px auto;
    padding: 48px 24px;
    text-align: center;
}

p {
    color: black;
}

.content-container img {
    width: 100%;
}

.content-container h4 {
    font-size: 18px;
}

.content-container h2 {
    font-size: 56px;
}

.content-container p,
h4 {
    font-family: "Roboto Mono", monospace;
}

.content-container h2 {
    font-family: "Jolly Lodger", system-ui;
}

.outer-container {
    background-color: rgb(225, 133, 21);
}

.outer-container .content-container h2,
.outer-container .content-container h4 {
    padding: auto;
    color: white;
}

.inner-container-white {
    background-color: white;
}

.inner-container-white .content-container h2,
.inner-container-white .content-container h4 {
    color: rgb(225, 133, 21);
}

.inner-container-orange .content-container h2,
.inner-container-orange .content-container h4 {
    color: white;
}

.inner-container-orange {
    background-color: rgb(225, 133, 21);
}

.outer-container-white .content-container h2,
.outer-container-white .content-container h4 {
    color: rgb(225, 133, 21);
}

.outer-container-white {
    background-color: white;
}

.orange-button {
    text-decoration: none;
    color: white;
    background-color: rgb(225, 133, 21);
    font-size: 16px;
    padding: 16px;
    margin: 25px;
    border: 2px solid black;
    border-radius: 40px;
    display: inline-block;
}

.white-button {
    text-decoration: none;
    color: rgb(225, 133, 21);
    background-color: white;
    font-size: 16px;
    padding: 16px;
    margin: 25px;
    border: 2px solid black;
    border-radius: 40px;
    display: inline-block;
}